.header {
  border-bottom: 1px solid #545454;
  height: 118px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 913px) {
  .header {
    height: 83px;
  }
}