.header__link {
  margin: 9px 0 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .15s ease-out;
}

.header__link:hover {
  opacity: .6;
}

.header__link:active {
  opacity: .4;
}


@media screen and (max-width: 913px) {
  .header__link {
    margin: 3px 0 0;
    padding: 0 24px 0 0;
    font-size: 14px;
  }
}