.profile__subtext {
  margin: 0;
  padding: 6px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  max-width: 520px;
  align-self: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: txt;
}

@media screen and (max-width: 913px) {
  .profile__subtext {
    font-size: 14px;
    padding-bottom: 29px;
    width: calc(100vw - 38px);
    min-width: 282px;
    text-align: center;
  }
}