.popup__form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding-top: 24px;
}

@media screen and (max-width: 440px) {
  .popup__form {
    padding-top: 50px;
    grid-template-rows: 102px 20px 37px 20px 71px;
  }
}