.profile__add-btn {
  height: 50px;
  width: 150px;
  border-radius: 2px;
  background-color: #000;
  background-image: url(../../../images/profile__add-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: #fff solid 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: opacity .15s ease-in-out;
  grid-area: add;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 913px) {
  .profile__add-btn {
    width: 282px;
    background-size: 16px;
  }
}