.profile__username {
  margin: 0;
  padding: 0;
  font-size: 42px;
  font-weight: 500;
  max-width: 520px;
  align-self: end;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: name;
}

@media screen and (max-width: 913px) {
  .profile__username {
    max-width: calc(100vw - 410px);
    font-size: 27px;
    line-height: 27px;
    min-width: 226px;
    text-align: center;
  }
}